{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.session.get('user').username }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if app.session.get('user') %}
    <h1><a href="{{ url("logout") }}">Logout</a></h1>
    {% else %}
        <h1><a href="{{ url("login") }}">Sign in</a></h1>
        <h1><a href="{{ url("register") }}">Register</a></h1>
    {% endif %}
</div>
{% endblock %}
