{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.session.get('user').username }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Log in to watch the courses or <a href="{{ url("register") }}">Register</a></h1>
        <form method="post" action="" novalidate>
            {{ form_errors(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
            <input type="submit" value="Sign In">
            {{ form_rest(form) }}
        </form>
</div>
{% endblock %}
