{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.session.get('user').username }}!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        {% if courses|length %}
            <h1>{{ courses|length }} courses in our database</h1>
            <ul>
                {% for course in courses %}
                    <li><a href="{{ url("courses_view", {"id": course.id}) }}">{{ course.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h1>No courses found :(</h1>
        {% endif %}
    </div>
{% endblock %}
