{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.session.get('user').username }}!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
            <h1>{{ course.name }} </h1>
        {% if data %}
            <h2>{{ course.youtube|raw }}</h2>
        {% endif %}

    </div>
{% endblock %}
